
@{
    ViewBag.Title = "T4T";
}

<div class="pl-lg-5 pr-lg-5 pt-lg-4">
    <span>
        <button class="btn btn-default my-2 my-sm-0 m-1" type="button">
            <i class="fa fa-tree"></i><a href="@Url.Action("MyTrip", "Home")"> MyTrip</a>
        </button>
    </span>
    <span style="color:white !important;">
        <button class="btn btn-default my-2 my-sm-0 m-1" type="button">
            <i class="fa fa-tablet"></i><a href="@Url.Action("mazi", "Houses")"> All</a>
        </button>
    </span>
</div>

